.toast-slide-out {
    animation: toast-slide-out 3s ease-in-out forwards;
}

.toast-fade-in {
    animation: toast-fade-in 0.3s ease-in-out forwards;
}

.toast-fade-out {
    animation: toast-fade-out 0.3s ease-in-out forwards;
}

@keyframes toast-fade-in {
  from {
    transform: translateY(10%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes toast-slide-out {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes toast-fade-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-10%);
    opacity: 0;
  }
}
